.container {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  gap: 1rem 5rem;
  justify-content: center;

  height: min-content;

  & a {
    display: flex;
    align-items: center;

    padding: 0 2rem;
    border-radius: 1.5rem;

    background: hsl(from var(--color-primary) h s calc(l * 0.85) / 30%);
  }

  & svg {
    width: 10rem;
    height: 5rem;
  }
}
