.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.tile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  height: min-content;
  padding: 1.5rem;
  border: 1px solid rgb(from var(--color-purple) r g b / 55%);
  border-radius: 2rem;

  text-align: left;

  background-color: rgb(from var(--color-purple) r g b / 55%);

  & h4 {
    width: 100%;
    font-size: 1.1rem;
  }
}

.image {
  overflow: hidden;

  aspect-ratio: 1 / 0.7;
  width: 100%;
  border-radius: 2rem;

  background: var(--image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: flex-start;

  width: 100%;
}

@media (width <= 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
