.navBar {
  position: fixed;
  z-index: 1000;
  bottom: 1.5rem;
  left: 50%;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  max-width: 14.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 100vh;

  background: rgb(from var(--color-black) r g b / 33%);
  backdrop-filter: blur(15px);

  transition: gap 0.3s ease-in-out;
}

.navItem {
  z-index: 1;

  display: flex;

  aspect-ratio: 1;
  height: 1rem;
  padding: 0.55rem;
  border-radius: 100vh;

  color: var(--color-bright-lilac);
}

.bubble {
  position: absolute;

  aspect-ratio: 1 / 1;
  width: 2.1rem;
  border-radius: 100vh;

  background: var(--color-purple);
}

@media (width <= 768px) {
  .navBar {
    gap: 0.5rem;
    max-width: 12.5rem;
  }
}
