:root {
  /* colors */
  --color-primary: #f0bfd6;
  --color-secondary: #aad3fb;
  --color-text: #fff;
  --color-background: #9e3a58;
  --color-white: #fff;
  --color-black: #000;
}

html,
body,
#root {
  scroll-behavior: smooth;

  overflow-x: hidden;

  width: 100%;
  margin: 0;

  font-family: 'EB Garamond', serif;
  font-size: 20px;
  line-height: 1.7;
  color: var(--color-text);

  background: var(--color-background);
  background-image: url('assets/bg-texture.webp');
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

svg {
  flex-shrink: 0;
  aspect-ratio: 1;
  width: 1rem;
  fill: currentColor;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

a {
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  :hover,
  :focus {
    color: var(--color-secondary);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1440px;
  margin: auto;
  padding-bottom: 10rem;

  text-align: center;
}
