.container {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
}

.possibility {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;

  height: min-content;
  padding: 0 0 1rem;
  border: 1px solid hsl(from var(--color-primary) h s calc(l * 0.85) / 55%);
  border-radius: 0 0 2rem 2rem;

  background: hsl(from var(--color-primary) h s calc(l * 0.85) / 55%);

  & ul {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;

    padding: 0;

    list-style: none;
  }

  & li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 0 2rem;

    text-align: left;
  }

  & svg {
    margin: 0.4rem 1rem 0 0;
    fill: var(--color-primary);
  }
}

.header {
  padding: 1.5rem;
  border-radius: 0 0 2rem 2rem;
  color: var(--color-background);
  background: var(--color-primary);
}
