.container {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}

.developmentBlock {
  flex: 1;

  padding: 2rem 4rem;
  border: 1px solid rgb(from var(--color-purple) r g b / 55%);
  border-radius: 2rem;

  color: var(--color-white);

  background-color: rgb(from var(--color-purple) r g b / 55%);

  transition: background-color 0.3s ease-in-out;

  & h3 {
    color: var(--color-bright-lilac);
  }
}

.skills {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  margin-top: 1rem;
}

@media (width <= 768px) {
  .developmentBlock {
    padding: 2rem 3rem;
  }
}
